<h1 class="text-center">Noticias Genosur</h1>

<div class="container py-4">
    <header class="pb-3 mb-4 border-bottom">
      <a href="https://www.genosur.com/es" class="d-flex align-items-center text-dark text-decoration-none">
        <span class="fs-4">Genosur</span>
      </a>
    </header>

    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Accede al Portal de Noticias de Genosur</h1>
        <p class="col-md-8 fs-4">Necesitarás crear una cuenta para visualizar las noticias.</p>
        <button class="btn btn-primary btn-lg" type="button">Sign In</button>
        <%= link_to "Sign Up", signup_path, class:"btn btn-primary btn-lg" %>
      </div>
    </div>
    </div>